html, body {
    height: 100%;
    margin: 0;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#board{
    width: 40rem;
    height: 25rem;
    display: flex;
    flex-wrap: wrap;
    margin-left: 8rem;
}

p{  
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 20%;
}

.square{
    width: 10rem;
    height: 10rem;
    background-color: rgba(164, 168, 178, 0.503);
    margin: 5px;
    border-radius: .5rem;
    border: solid;
    border-width: .15rem;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.x{
    fill: rgb(203, 0, 98);
    width: 8rem;
    height: 8rem;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.o{
    fill: rgb(0, 80, 201);
    width: 8rem;
    height: 8rem;
    display: flex; 
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: rgb(0, 80, 201);
}